/*encabezado principal*/
.titulo-principal{
    display: flex;
    justify-content: center;
}
/*contenedor del menu*/
.menu-container {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    margin-bottom: none;
    
}



.menu a {
    text-align: center;
    text-decoration:none ;
    color: blueviolet;
    font-weight: 700;  

}

.menu a:hover {
    background-color: blueviolet;
    color: blue;
}

/*imagen de fondo*/
.img-fondo {
    background-image: url(../img/fondo-cm.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

    /*padding: 20px;*/
    position: relative;
    margin-bottom: 2rem;
    padding-top: 0rem;
}
.titulo-productos{
    
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    
}
.grid-item{
    border: 1px solid black;
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
}

.container{
    padding-bottom: 10rem;
}

